<web-app>

    <display-name>Pdf Blitz</display-name>


    <servlet>
        <servlet-name>Pdf Workshop</servlet-name>
        <servlet-class>com.vaadin.terminal.gwt.server.ApplicationServlet</servlet-class>
        <init-param>
            <param-name>application</param-name>
            <param-value>com.javastrike.pdfblitz.frontend.PdfBlitzApplication</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Pdf Workshop</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>

    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext.xml</param-value>
    </context-param>

    <!--Should be enabled when in production mode-->
    <!--<context-param>
        <description>Vaadin production mode</description>
        <param-name>productionMode</param-name>
        <param-value>true</param-value>
    </context-param>-->

    <!-- Let Spring know when new sessions are started -->
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>

</web-app>